extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Veronika Kaufmann

        p.lead.text-light
          | Full Stack JavaScript Developer.

        .portfolio-bio
          p
            | Hi, I'm Veronika Kaufmann, a soon to be Full Stack JavaScript Developer. 
            | This is not my elevator pitch. It's merely an introduction of my person and not a particulary impressive one, as I have not completed my education, yet. 
            | But just you wait. In time, your mind will be blown. 
            | Your mortal brain will scarcely process how well the splendiferousness of my work maps to my enthusiasm to make up for the lack of working experience.  

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills


        ul
          li Express
          li JavaScript
          li HTML
          li CSS
          li React 
          li And More
        h6 Contact Info


        ul
          li 555-555-1234
          li email@email.com


        a.button.expanded(href='') LinkedIn
        a.button.expanded(href='https://github.com/ziggy-n/') GitHub
        a.button.expanded(href='') Twitter
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  
